body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  padding: 60px;
  background: lightgray;
  text-align: center;
}
section {
  padding: 40px;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
